<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaLica</servlet-name>
        <servlet-class>servlets.listaLicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajServerServlet</servlet-name>
        <servlet-class>servlets.DodajServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajFizickoLServlet</servlet-name>
        <servlet-class>servlets.DodajFizickoLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajPravnoLice</servlet-name>
        <servlet-class>servlets.DodajPravnoLice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajVirtuelniServerServlet</servlet-name>
        <servlet-class>servlets.DodajVirtuelniServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajFizickiServerServlet</servlet-name>
        <servlet-class>servlets.DodajFizickiServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetaljnijeOServerimaServlet</servlet-name>
        <servlet-class>servlets.DetaljnijeOServerimaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaLica</servlet-name>
        <url-pattern>/listaLica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajServerServlet</servlet-name>
        <url-pattern>/DodajServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajFizickoLServlet</servlet-name>
        <url-pattern>/DodajFizickoLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajPravnoLice</servlet-name>
        <url-pattern>/DodajPravnoLice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajVirtuelniServerServlet</servlet-name>
        <url-pattern>/DodajVirtuelniServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajFizickiServerServlet</servlet-name>
        <url-pattern>/DodajFizickiServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetaljnijeOServerimaServlet</servlet-name>
        <url-pattern>/DetaljnijeOServerimaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
